.client-container{
    background-color: #3b3b3b;
  border-radius: 5px;
  color: white;
  width: 300px;
  max-width: 300px;
  flex-shrink: 0;
  position: relative;
}

.client-container .check{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .client-container h3{
    color: red;
  }